.wrapper {
    display: flex;
    margin-right: -.5em;
}

select.form-control {
    padding-right: 0;
}

.day, .month, .year {
    margin-right: .5em;
}

.day {
    flex: 15;
}

.month {
    flex: 45;
}

.year {
    flex: 40;
}