<div class="wrapper">
    <div class="day">
        <select [ngModel]="currentDay" (ngModelChange)="updateDay($event)" (focus)="focus()" (blur)="blur()" class="form-control">
            <option disabled selected [value]="null"></option>
            <option *ngFor="let day of days" [value]="day">{{ day }}</option>
        </select>
    </div>
    <div class="month">
        <select [ngModel]="currentMonth" (ngModelChange)="updateMonth($event)" (focus)="focus()" (blur)="blur()" class="form-control">
            <option disabled selected [value]="null"></option>
            <option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</option>
        </select>
    </div>
    <div class="year">
        <input type="number" [ngModel]="currentYear" (ngModelChange)="updateYear($event)" (focus)="focus()" (blur)="blur()" class="form-control" />
    </div>
</div>