<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">
                <img src="assets/symbol.png" style="width: 350px; margin: 15px;" />
            </p>
            <h1>Unnagor Val <small>Die fünfte Synode des Ordens der Wegbereiter</small></h1>

            <h2>Informationen</h2>
            <p>
                Ihr Lieben,
            </p>

            <p>
                wir laden zur fünften Synode unseres Ordens. Euch erwartet ein kuscheliges Wochenende mit
                Hausunterbringung und Vollverpfegung. Keine Geruchsbelästigung durch Untote, kein sanftes
                "Rakh-Rakh-Rakh" aus dem Garten – nur Zeit für Gespräche, Lehrspiel und Unfug. Eben alles,
                was einen Plot sonst so gern zersprengt.
            </p>

            <p>
                Wie schon angekündigt haben wir eine neue Location in der Mitte Deutschlands. Das
                neue, von uns bespielte Haus liegt an einem Waldrand und bietet ein weitläufiges
                Gelände. Es bietet 41 Betten in 11 Zimmern.
            </p>
            <p>
                Der Freitag wird ein gemütliches Beisammensein und der Samstag wird wie gewohnt
                mit theoretischen und praktischen Lehrstunden gefüllt. Die Lehrstunden werden von
                Spielern geleitet, der Themenrahmen wird euch dabei nach dem Conquest und
                frühzeitig vor der Con bekannt gegeben. Wir freuen uns aber auch über Anfragen der
                Spieler, denen ein besonderes Thema am Herzen liegt.
            </p>
        </div>

        <div class="row">
            <dl class="dl-horizontal col-sm-6">
                <dt>Con-Art</dt>
                <dd><p>Ambiente</p></dd>

                <dt>Datum</dt>
                <dd><p>26.01.2018 &ndash; 28.01.2018</p></dd>

                <dt>Location</dt>
                <dd>
                    <address>
                        <strong>Gruppenhaus Eppe</strong><br>
                        Aarbergstraße 149,<br>
                        34497 Korbach<br>
                    </address>
                </dd>

                <dt>Preis</dt>
                <dd>
                    <p>
                        75,00 &euro; inkl. Verpflegung für Spieler<br/>
                        40,00 &euro; inkl. Verpflegung für NSCs*<br/>
                        <small>
                            * NSC Anmeldungen nur nach vorheriger Rücksprache!
                        </small>
                    </p>
                </dd>

                <dt>Regelwerk</dt>
                <dd>
                    <p>
                        Aktuelles Mythodea-Regelwerk
                    </p>
                </dd>

                <dt>Orga</dt>
                <dd>
                    <p>
                        <a href="mailto:Paul.Maanen@gmail.com">Paul Maanen</a>, <a href="mailto:ludmila.roesch@gmail.com">Ludmila Reimer</a>,<br/>
                        <a href="mailto:philipp.reimer@rwth-aachen.de">Philipp Reimer</a>
                    </p>
                </dd>

                <dt>Plätze</dt>
                <dd>
                    <ng-container *ngIf="bedCount$ | async as beds">
                        <span *ngIf="beds.count < 41">Es sind noch <strong>{{ 41 - beds.count }} von 41</strong> Betten verfügbar.</span>
                        <span *ngIf="beds.count >= 41">
                            <strong>Alle Plätze wurden reserviert.</strong> Weitere Anmeldungen landen auf der Warteliste und rutschen nach
                            falls es Absagen gibt.
                        </span>
                    </ng-container>
                    Es gibt mehr Einladungen als Betten.<br/>
                    <strong>Wer sich zuerst anmeldet und bezahlt, bekommt eine kleine Aufmerksamkeit!</strong>
                </dd>
            </dl>
            <div class="col-sm-6 text-right">
                <a href="https://www.live-adventure.de/de/spielwelt-medien/weitere-veranstaltungen/siedlercons" target="_blank"><img src="assets/mythodea_siegel.png" /></a>
            </div>
        </div>
    </div>

    <h2 id="registration">Anmeldung</h2>

    <div class="loader" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="panel panel-success" *ngIf="!!isSuccessful">
        <div class="panel-heading">
            <h3 class="panel-title">Vielen Dank!</h3>
        </div>
        <div class="panel-body">
            <p>
                Wir haben deine Anmeldung erhalten und werden sie bearbeiten.
                Du erhälst dann eine E-Mail mit den Kontodaten für die Überweisung
                oder eine Information zu deinem Platz in der Warteliste von uns.
                Ab dem erhalt der E-Mail hast du 14 Tage Zeit um den Betrag zu überweisen
                oder dein Platz wird wieder vergeben.
            </p>
        </div>
    </div>
    <div class="panel panel-danger" *ngIf="!!error">
        <div class="panel-heading">
            <h3 class="panel-title">Fehler</h3>
        </div>
        <div class="panel-body">
            <p>Folgender Fehler ist aufgetreten:</p>
            <blockquote>{{ error }}</blockquote>
            <p>Bitte versuche es erneut oder benachrichtige die Orga wenn der Fehler weiterhin auftritt!</p>
        </div>
    </div>
    <wb-register-form 
        [data]="data" 
        (post)="sendForm($event)" 
        (privacy)="openImprint()"
        *ngIf="!isLoading && !isSuccessful">
    </wb-register-form>

    <p>
        <a (click)="openImprint()" class="impressum">Impressum & Datenschutz</a>
    </p>
</div>