<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">
                <img src="assets/symbol.png" style="width: 350px; margin: 15px;" />
            </p>
            <h1>{{ config.name }} <small>{{ config.subname }}</small></h1>

            <h2>Informationen</h2>
            <div [innerHTML]="config.description"></div>
        </div>

        <div class="row">
            <dl class="dl-horizontal col-sm-6">
                <dt>Con-Art</dt>
                <dd><p>{{ config.type }}</p></dd>
                
                <ng-container *ngIf="config.minAge">
                    <dt>Mindestalter</dt>
                    <dd><p>{{ config.minAge }} Jahre</p></dd>
                </ng-container>

                <dt>Datum</dt>
                <dd><p>{{ startDate.format('DD.MM.YYYY') }} &ndash; {{ endDate.format('DD.MM.YYYY') }}</p></dd>

                <dt>Location</dt>
                <dd>
                    <address>
                        <div *ngFor="let location of config.location; let index=index">
                            <a *ngIf="index === 0 && config.website; else noLink"
                               [href]="config.website"
                               target="_blank">
                               {{ location }}
                            </a>
                            <ng-template #noLink>{{ location }}</ng-template>
                        </div>
                    </address>
                </dd>

                <dt>Preis</dt>
                <dd>
                    <p>
                        <span *ngIf="config.pcPrice">
                            {{ config.pcPrice | currency:'EUR' }} inkl. Verpflegung für Spieler<br/>
                        </span>
                        <span *ngIf="config.npcPrice">
                            {{ config.npcPrice | currency:'EUR' }} inkl. Verpflegung für NSCs*<br/>
                            <small>
                                * NSC Anmeldungen nur nach vorheriger Rücksprache!
                            </small>
                        </span>
                    </p>
                </dd>
                
                <dt>Regelwerk</dt>
                <dd>
                    <p>
                        Aktuelles Mythodea-Regelwerk
                    </p>
                </dd>

                <dt>Orga</dt>
                <dd>
                    <p class="orga">
                        <span *ngFor="let orga of config.orga">
                            <a *ngIf="orga.email; else noLink" href="mailto:{{ orga.email }}">{{ orga.name }}</a>
                            <ng-template #noLink>{{ orga.name }}</ng-template>
                        </span>
                    </p>
                </dd>

                <dt>Verfügbare Plätze</dt>
                <dd>
                    <ng-container *ngIf="bedCount$ | async as beds">
                        <div *ngIf="beds.pc && config.pcBeds">
                            <strong>Spieler: </strong>
                            <span *ngIf="beds.pc.remaining > 0">{{ beds.pc.remaining }} von {{ config.pcBeds }} verfügbar</span>
                            <span *ngIf="beds.pc.remaining <= 0">
                                <strong>Alle Plätze wurden reserviert.</strong> Weitere Anmeldungen landen auf der Warteliste und rutschen nach
                                falls es Absagen gibt.
                            </span>
                        </div>
                        <div *ngIf="beds.npc && config.npcBeds">
                            <strong>NPC: </strong>
                            <span *ngIf="beds.npc.remaining > 0">{{ beds.npc.remaining }} von {{ config.npcBeds }} verfügbar</span>
                            <span *ngIf="beds.npc.remaining <= 0">
                                <strong>Alle Plätze wurden reserviert.</strong> Weitere Anmeldungen landen auf der Warteliste und rutschen nach
                                falls es Absagen gibt.
                            </span>
                        </div>
                    </ng-container>
                    Es gibt mehr Einladungen als Betten.<br/>
                    <strong>Wer sich zuerst anmeldet und bezahlt, bekommt eine kleine Aufmerksamkeit!</strong>
                </dd>
            </dl>
            <div class="col-sm-6 text-right">
                <a href="https://www.live-adventure.de/de/spielwelt-medien/weitere-veranstaltungen/siedlercons" target="_blank"><img src="assets/mythodea_siegel.png" /></a>
            </div>
        </div>
    </div>

    <h2 id="registration">Anmeldung</h2>

    <div class="loader" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="panel panel-success" *ngIf="!!isSuccessful">
        <div class="panel-heading">
            <h3 class="panel-title">Vielen Dank!</h3>
        </div>
        <div class="panel-body">
            <p>
                Wir haben deine Anmeldung erhalten und werden sie bearbeiten.
                Du erhälst dann eine E-Mail mit den Kontodaten für die Überweisung
                oder eine Information zu deinem Platz in der Warteliste von uns.
                Ab dem erhalt der E-Mail hast du 14 Tage Zeit um den Betrag zu überweisen
                oder dein Platz wird wieder vergeben.
            </p>
        </div>
    </div>
    <div class="panel panel-danger" *ngIf="!!error">
        <div class="panel-heading">
            <h3 class="panel-title">Fehler</h3>
        </div>
        <div class="panel-body">
            <p>Folgender Fehler ist aufgetreten:</p>
            <blockquote>{{ error }}</blockquote>
            <p>Bitte versuche es erneut oder benachrichtige die Orga wenn der Fehler weiterhin auftritt!</p>
        </div>
    </div>
    <wb-register-form 
        [data]="data" 
        [minAge]="config.minAge"
        [maxBirthday]="maxBirthday"
        [npc]="!!config.npcBeds"
        [itRoom]="!!config.itRooms"
        (post)="sendForm($event)"
        (privacy)="openImprint()"
        *ngIf="!isLoading && !isSuccessful">
    </wb-register-form>

    <p>
        <a (click)="openImprint()" class="impressum">Impressum & Datenschutz</a>
    </p>
</div>