.loader {
    text-align: center;

    > mat-spinner {
        display: inline-block;
    }
}

.impressum {
    cursor: pointer;
}

address :first-child {
    font-weight: bold;
}

.orga :not(:last-child)::after {
    content: ', ';
}